@model AdminPanel.ViewModels.InfoBases.InfoBaseViewModel

@{
    ViewData["Title"] = "Создание";
}

<h1>Создание</h1>

<h4>@Html.DisplayNameForModel()</h4>
<hr />
<form asp-action="Create">
    <div class="form-group">
        <ul class="nav nav-command-panel">
            <li class="nav-item">
                <input type="submit" value="Записать" class="btn btn-primary" />
            </li>
            <li class="nav-item">
                <a asp-action="Index" class="btn btn-secondary">К списку</a>
            </li>
        </ul>
    </div>
    @{ await Html.RenderPartialAsync("_CreateEdit", Model); }
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
