@model AdminPanel.ViewModels.InfoBasesLists.InfoBasesListViewModel

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Список информационных баз будет очищен у пользователей, которые его используют и удален. Продолжить?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">К списку</a>
    </form>
</div>
